nav img{
    width: 30px;
    height: 30px;
}

nav .navbar-toggler{
    border-width: 0px;
    outline: none;
}

.contact-form{
    width: 28.125rem;
    height: 48.75rem;
    position: absolute;
    top: 5rem;
    left: calc(50% - 14.0625rem);
/*    bottom: 60px;*/
    margin-bottom: 3.75rem;
    padding: 1.25rem;
    background-color: antiquewhite;
    border-radius: 30px;
    padding-top: 40px;
}

.contact-form label{
    font-weight: 700;
    font-size: 18px;
}

.checkboxclass{
    
    margin-top: 40px;
}

.checkboxclass label{
    display:inline-grid;
    font-weight: 400;
    font-size: 12px;
}

.contact-form .form-group{
    margin-top: 35px;
}

.submitbutton{
    
    margin-top: 40px;
    width: 80px;
    margin-left: calc(50% - 40px);
}

.tablecontainer{
    position: absolute;
    top: 100px;
    width: 600px;
    left: calc(50% - 300px)
}

.table-fixed tbody {
height: 200px;
overflow-y: auto;
width: 100%;
}
.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
display: block;
}
.table-fixed tr:after {
content: "";
display: block;
visibility: hidden;
clear: both;
}

.table-fixed tbody td,
.table-fixed thead > tr > th {
float: left;
    
}

.table-fixed td,th{
    width: 140px;
}


